@model CRUDLibrary.Domain.Models.UpdateBorrowerResponse

@{
    ViewData["Title"] = "Update";
}

<h1>Edit</h1>

<h4>Borrower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="UpdateBorrowerForm">
            <div id="ErrorMessages" class="alert-message-div">
                </div>
            <div validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BORROWER_ID"/>
            <div class="form-group">
                <label for="BORROWER_NAME" class="control-label">Borrower's Name</label>
                <input asp-for="BORROWER_NAME" id="BORROWER_NAME" required class="form-control"/>
                <span validation-for="BORROWER_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" id="UpdateBorrowerSubmit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    
    $('#UpdateBorrowerSubmit').on('click',function(){
            EnableLoader();
            var sendD = JSON.parse($('#UpdateBorrowerForm').serializeJSON());
            
            $.ajax({
                url: RootURL() + 'Borrower/Update/' + @Model.BORROWER_ID,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: JSON.stringify(sendD),
                success: function (resp) {
                    if(resp.ERROR_MESSAGES.length == 0)
                    {
                        sessionStorage.setItem("MESSAGE", JSON.stringify(resp.SUCCESS_MESSAGES));  
                        window.location.href = RootURL() + 'Borrower/View/' + resp.ID.toString();
                    } 
                    else 
                    {
                        DisableLoader();
                        $('#ErrorMessages').AddMessages(resp.ERROR_MESSAGES);
                    }
                },
                error: function (r) 
                {
                    DisableLoader();
                }
            });
      });
</script>