@model CRUDLibrary.Domain.Models.AddAuthorResponse

@{
    ViewData["Title"] = "Add";
    
    
}

<h1>Add</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AUTHOR_NAME" class="control-label"></label>
                <input asp-for="AUTHOR_NAME" class="form-control" />
                <span asp-validation-for="AUTHOR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AUTHOR_BORN" class="control-label"></label>
                <input asp-for="AUTHOR_BORN" class="form-control" />
                <span asp-validation-for="AUTHOR_BORN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AUTHOR_DIED" class="control-label"></label>
                <input asp-for="AUTHOR_DIED" class="form-control" />
                <span asp-validation-for="AUTHOR_DIED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
