@model CRUDLibrary.Domain.Models.AddBookBorrowerResponse

@{
    ViewData["Title"] = "Add Borrow";
}

<h1>Add Borrower</h1>

<h4>Borrowed Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h5>Book</h5>
        <h6>@Model.BOOK_TITLE</h6>
        <form id="AddBorrowForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BOOK_ID" />

            <div class="form-group">
                <label for="BORROWER_ID">Borrower</label>
                <select asp-for="BORROWER_ID" id="BORROWER_ID" name="BORROWER_ID" asp-items="@(new SelectList(Model.BORROWERS, "ID", "NAME"))" class="form-control">
                    <option value="">Select an existing borrower</option>
                </select>
                <span validation-for="BORROWER_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="BORROWER_NAME">Or enter a new borrower name</label>
                <input asp-for="BORROWER_NAME" id="BORROWER_NAME" name="BORROWER_NAME" type="text" class="form-control" />
                <span validation-for="BORROWER_NAME" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="button" id="AddBorrowSubmit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    
    $('#AddBorrowSubmit').on('click',function(){
        EnableLoader();
        var sendD = JSON.parse($('#AddBorrowForm').serializeJSON());
        $.ajax({
            url: RootURL() + 'Book/AddBorrow/' + @Model.BOOK_ID,
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            data: JSON.stringify(sendD),
            success: function (resp) {
                if(resp.ERROR_MESSAGES.length == 0)
                {
                    sessionStorage.setItem("MESSAGE", JSON.stringify(resp.SUCCESS_MESSAGES));
                    window.location.href = RootURL() + 'Book/View/' + resp.BOOK_ID.toString();
                } 
                else 
                {
                    DisableLoader();
                    $('#ErrorMessages').AddMessages(resp.ERROR_MESSAGES);
                }
            },
            error: function (r) 
            {
                DisableLoader();
            }
        });
      });
</script>
