
@model CRUDLibrary.Domain.Models.AddBookBorrowerResponse

@{
    ViewData["Title"] = "AddBorrow";
}

<h1>Add Book</h1>

<h4>Borrowed Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h5>Borrower</h5>
        <h6>@Model.BORROWER_NAME</h6>
        <form asp-action="AddBorrow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BORROWER_ID" />

            <div class="form-group">
                <label asp-for="BOOK_ID">Book</label>
                <select asp-for="BOOK_ID" asp-items="@(new SelectList(Model.BOOKS, "Id", "Title"))" class="form-control">
                    <option value="">Select an existing book</option>
                </select>
                <span asp-validation-for="BOOK_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_TITLE">Or enter a new book name</label>
                <input asp-for="BOOK_TITLE" id="NewBookTitle" name="NewBookTitle" type="text" class="form-control" />
                <span asp-validation-for="BOOK_TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_GENRE" class="control-label"></label>
                <select asp-for="BOOK_GENRE" asp-items="@(new SelectList(Model.GENRES))" class="form-control">
                    <option value="">Select Genre</option>
                </select>
                <span asp-validation-for="BOOK_GENRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_PUB_DATE" class="control-label"></label>
                <input asp-for="BOOK_PUB_DATE" class="form-control" />
                <span asp-validation-for="BOOK_PUB_DATE" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
