@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Library</h1>
    <a class="btn btn-danger" asp-controller="Author" asp-action="Index">Authors</a>
    <a class="btn btn-warning" asp-controller="Book" asp-action="Index">Books</a>
    <a class="btn btn-success" asp-controller="Borrowers" asp-action="Index">Borrowers</a>
</div>
